html {
    font-size: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary colors */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral colors */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--cream);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.container {
    display: flex;
    background-color: var(--white);
    border-radius: 1rem;
    flex-direction: column;
    margin: auto;
}
img {
    max-width: 100%;
    max-height: 24rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.body {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}
.perfume {
    font-family: "Montserrat";
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--dark-grayish-blue);
}
h1 {
    font-family: "Fraunces";
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.1;
}
.description {
    color: var(--dark-grayish-blue);
    font-size: 1.4rem;
}
.price {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.new-price {
    font-family: "Fraunces";
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--dark-cyan);
}
.old-price {
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: medium;
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
}
button {
    background-color: var(--dark-cyan);
    color: var(--white);
    border-radius: 8px;
    border: none;
    font-family: "Montserrat";
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem;
    display: flex;
    gap: 10px;
    justify-content: center;
}
button:hover {
    background-color: #1a4032;
    cursor: pointer;
}

.cart-icon {
    width: 15px;
}
@media screen and (min-width: 395px) {
    .container {
        flex-direction: row;
        max-width: 60rem;
        max-height: 45rem;
    }
    img {
        max-width: 30rem;
        max-height: 45rem;
    }
    .body {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        gap: 3rem;
    }
}
